accelerate==0.25.0
bitsandbytes==0.41.3.post2
clip==1.0
datasets==2.18.0
decord==0.6.0
denoising_diffusion_pytorch==1.9.4
diffusers==0.24.0
einops==0.7.0
huggingface_hub==0.19.4
matplotlib==3.8.2
numpy==1.26.4
opencv_python==4.8.1.78
packaging==24.0
pandas==2.2.1
Pillow==10.2.0
torch==2.0.0
torchinfo==1.8.0
torchvision==0.14.1+cu116
tqdm==4.66.1
transformers==4.30.0
wandb==0.16.0
xformers==0.0.24
